<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>LTI Consumer</display-name>

  <servlet>
    <servlet-name>LTIConsumer1</servlet-name>
    <servlet-class>ca.cogomov.lti.consumer.BBClient</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LTIConsumer2</servlet-name>
    <servlet-class>ca.cogomov.lti.consumer.IMSGlobalClient</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LTIConsumer1</servlet-name>
    <url-pattern>/bbclient</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LTIConsumer2</servlet-name>
    <url-pattern>/imsglobalclient</url-pattern>
  </servlet-mapping>

  
</web-app>
